@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?7kgrn5');
  src:  url('fonts/icomoon.eot?7kgrn5#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?7kgrn5') format('truetype'),
    url('fonts/icomoon.woff?7kgrn5') format('woff'),
    url('fonts/icomoon.svg?7kgrn5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-500px:before {
  content: "\e9eb";
  color: #0099e5;
}
.icon-aboutme:before {
  content: "\e9ec";
  color: #00a98f;
}
.icon-acm:before {
  content: "\e9ed";
  color: #0085ca;
}
.icon-addthis:before {
  content: "\e9ee";
  color: #ff5c3e;
}
.icon-adobe:before {
  content: "\e9ef";
  color: #f00;
}
.icon-adobeacrobatreader:before {
  content: "\e9f0";
  color: #ee3f24;
}
.icon-adobeaftereffects:before {
  content: "\e9f1";
  color: #d291ff;
}
.icon-adobedreamweaver:before {
  content: "\e9f2";
  color: #35fa00;
}
.icon-adobeillustrator:before {
  content: "\e9f3";
  color: #ff7c00;
}
.icon-adobeindesign:before {
  content: "\e9f4";
  color: #fd3f93;
}
.icon-adobelightroom:before {
  content: "\e9f5";
  color: #add5ec;
}
.icon-adobephotoshop:before {
  content: "\e9f6";
  color: #00c8ff;
}
.icon-adobetypekit:before {
  content: "\e9f7";
  color: #87ec00;
}
.icon-aim2:before {
  content: "\e9f8";
  color: #ffca00;
}
.icon-airbnb:before {
  content: "\e9f9";
  color: #ff5a5f;
}
.icon-amazon:before {
  content: "\e9fa";
  color: #f90;
}
.icon-americanexpress:before {
  content: "\e9fb";
  color: #2e77bc;
}
.icon-android:before {
  content: "\e9fc";
  color: #a4c639;
}
.icon-angellist:before {
  content: "\e9fd";
}
.icon-angular:before {
  content: "\e9fe";
  color: #dd0031;
}
.icon-apple2:before {
  content: "\e9ff";
  color: #999;
}
.icon-applemusic:before {
  content: "\ea00";
}
.icon-archlinux:before {
  content: "\ea01";
  color: #1793d1;
}
.icon-asana:before {
  content: "\ea02";
}
.icon-atlassian:before {
  content: "\ea03";
  color: #0052cc;
}
.icon-atom:before {
  content: "\ea04";
  color: #66595c;
}
.icon-auth0:before {
  content: "\ea05";
  color: #eb5424;
}
.icon-automatic:before {
  content: "\ea06";
  color: #7d8084;
}
.icon-aventrix:before {
  content: "\ea07";
  color: #09d;
}
.icon-baidu:before {
  content: "\ea08";
  color: #2319dc;
}
.icon-bandcamp:before {
  content: "\ea09";
  color: #408294;
}
.icon-basecamp:before {
  content: "\ea0a";
  color: #5ecc62;
}
.icon-bathasu:before {
  content: "\ea0b";
  color: #00a3e0;
}
.icon-behance:before {
  content: "\ea0c";
  color: #1769ff;
}
.icon-bigcartel:before {
  content: "\ea0d";
}
.icon-bing:before {
  content: "\ea0e";
  color: #008373;
}
.icon-bitbucket:before {
  content: "\ea0f";
  color: #0052cc;
}
.icon-bitcoin:before {
  content: "\ea10";
  color: #f7931a;
}
.icon-bitly:before {
  content: "\ea11";
  color: #ee6123;
}
.icon-blogger:before {
  content: "\ea12";
  color: #ff5722;
}
.icon-bootstrap:before {
  content: "\ea13";
  color: #563d7c;
}
.icon-bower:before {
  content: "\ea14";
  color: #ef5734;
}
.icon-brandai:before {
  content: "\ea15";
  color: #0aa0ff;
}
.icon-buffer:before {
  content: "\ea16";
  color: #168eea;
}
.icon-buzzfeed:before {
  content: "\ea17";
  color: #e32;
}
.icon-cakephp:before {
  content: "\ea18";
  color: #d33c43;
}
.icon-campaignmonitor:before {
  content: "\ea19";
  color: #509cf6;
}
.icon-circleci:before {
  content: "\ea1a";
}
.icon-codecademy:before {
  content: "\ea1b";
  color: #1f4056;
}
.icon-codeforces:before {
  content: "\ea1c";
  color: #1f8acb;
}
.icon-codeigniter:before {
  content: "\ea1d";
  color: #ee4623;
}
.icon-codepen:before {
  content: "\ea1e";
}
.icon-coderwall:before {
  content: "\ea1f";
  color: #3e8dcc;
}
.icon-codeschool:before {
  content: "\ea20";
  color: #4cadc0;
}
.icon-codewars:before {
  content: "\ea21";
  color: #ad2c27;
}
.icon-codio:before {
  content: "\ea22";
  color: #4574e0;
}
.icon-compropago:before {
  content: "\ea23";
  color: #00aaef;
}
.icon-conekta:before {
  content: "\ea24";
  color: #414959;
}
.icon-coop:before {
  content: "\ea25";
  color: #00b1e7;
}
.icon-coursera:before {
  content: "\ea26";
  color: #2a73cc;
}
.icon-css3:before {
  content: "\ea27";
  color: #1572b6;
}
.icon-csswizardry:before {
  content: "\ea28";
  color: #f43059;
}
.icon-dailymotion:before {
  content: "\ea29";
  color: #0066dc;
}
.icon-deezer:before {
  content: "\ea2a";
  color: #00c7f2;
}
.icon-delicious:before {
  content: "\ea2b";
  color: #39f;
}
.icon-designernews:before {
  content: "\ea2c";
  color: #2d72d9;
}
.icon-deviantart:before {
  content: "\ea2d";
  color: #05cc47;
}
.icon-diaspora:before {
  content: "\ea2e";
}
.icon-digg:before {
  content: "\ea2f";
}
.icon-digitalocean:before {
  content: "\ea30";
  color: #0080ff;
}
.icon-discord:before {
  content: "\ea31";
  color: #7289da;
}
.icon-discourse:before {
  content: "\ea32";
}
.icon-discover:before {
  content: "\ea33";
  color: #ff6000;
}
.icon-disqus:before {
  content: "\ea34";
  color: #2e9fff;
}
.icon-django:before {
  content: "\ea35";
}
.icon-docker:before {
  content: "\ea36";
  color: #1488c6;
}
.icon-draugiemlv:before {
  content: "\ea37";
  color: #f60;
}
.icon-dribbble:before {
  content: "\ea38";
  color: #ea4c89;
}
.icon-dropbox:before {
  content: "\ea39";
  color: #0061ff;
}
.icon-drupal:before {
  content: "\ea3a";
  color: #0678be;
}
.icon-ebay:before {
  content: "\ea3b";
  color: #e53238;
}
.icon-ello:before {
  content: "\ea3c";
}
.icon-empirekred:before {
  content: "\ea3d";
  color: #72be50;
}
.icon-ethereum:before {
  content: "\ea3e";
}
.icon-etsy:before {
  content: "\ea3f";
  color: #f45800;
}
.icon-eventbrite:before {
  content: "\ea40";
  color: #f6682f;
}
.icon-eventstore:before {
  content: "\ea41";
  color: #5ab552;
}
.icon-evernote:before {
  content: "\ea42";
  color: #2dbe60;
}
.icon-everplaces:before {
  content: "\ea43";
  color: #fa4b32;
}
.icon-facebook:before {
  content: "\ea44";
  color: #3b5998;
}
.icon-fandango:before {
  content: "\ea45";
  color: #ff7300;
}
.icon-feathub:before {
  content: "\ea46";
  color: #9b9b9b;
}
.icon-feedly:before {
  content: "\ea47";
  color: #6cc655;
}
.icon-fitbit:before {
  content: "\ea48";
  color: #00b0b9;
}
.icon-flickr:before {
  content: "\ea49";
  color: #0063dc;
}
.icon-flipboard:before {
  content: "\ea4a";
  color: #e12828;
}
.icon-fnac:before {
  content: "\ea4b";
  color: #e1a925;
}
.icon-foursquare:before {
  content: "\ea4c";
  color: #f94877;
}
.icon-freecodecamp:before {
  content: "\ea4d";
  color: #060;
}
.icon-garmin:before {
  content: "\ea4e";
  color: #007dc3;
}
.icon-gatsby:before {
  content: "\ea4f";
  color: #744c9e;
}
.icon-gauges:before {
  content: "\ea50";
  color: #396;
}
.icon-geeklist:before {
  content: "\ea51";
  color: #8cc63f;
}
.icon-geocaching:before {
  content: "\ea52";
  color: #467126;
}
.icon-gerrit:before {
  content: "\ea53";
  color: #eee;
}
.icon-ghost2:before {
  content: "\ea54";
  color: #718087;
}
.icon-git:before {
  content: "\ea55";
  color: #f14e32;
}
.icon-github:before {
  content: "\ea56";
}
.icon-gitlab:before {
  content: "\ea57";
  color: #e24329;
}
.icon-gitter:before {
  content: "\ea58";
  color: #ff0064;
}
.icon-glassdoor:before {
  content: "\ea59";
  color: #0caa41;
}
.icon-gmail:before {
  content: "\ea5a";
  color: #d14836;
}
.icon-gnu:before {
  content: "\ea5b";
  color: #a42e2b;
}
.icon-gnusocial:before {
  content: "\ea5c";
  color: #a22430;
}
.icon-goldenline:before {
  content: "\ea5d";
  color: #fbbf00;
}
.icon-goodreads:before {
  content: "\ea5e";
  color: #630;
}
.icon-google:before {
  content: "\ea5f";
  color: #4285f4;
}
.icon-googleallo:before {
  content: "\ea60";
  color: #ecb842;
}
.icon-googleanalytics:before {
  content: "\ea61";
  color: #ffc107;
}
.icon-googlechrome:before {
  content: "\ea62";
  color: #4285f4;
}
.icon-googledrive:before {
  content: "\ea63";
  color: #4386fc;
}
.icon-googlehangouts:before {
  content: "\ea64";
  color: #0c9d58;
}
.icon-googlekeep:before {
  content: "\ea65";
  color: #fb0;
}
.icon-googleplay:before {
  content: "\ea66";
  color: #607d8b;
}
.icon-googleplus:before {
  content: "\ea67";
  color: #dc4e41;
}
.icon-govuk:before {
  content: "\ea68";
  color: #005ea5;
}
.icon-graphcool:before {
  content: "\ea69";
  color: #27ae60;
}
.icon-graphql:before {
  content: "\ea6a";
  color: #e10098;
}
.icon-gratipay:before {
  content: "\ea6b";
  color: #630;
}
.icon-grav:before {
  content: "\ea6c";
}
.icon-gravatar:before {
  content: "\ea6d";
  color: #1e8cbe;
}
.icon-gulp:before {
  content: "\ea6e";
  color: #da4648;
}
.icon-gumtree:before {
  content: "\ea6f";
  color: #72ef36;
}
.icon-hackerrank:before {
  content: "\ea70";
  color: #2ec866;
}
.icon-hackster:before {
  content: "\ea71";
  color: #1bacf7;
}
.icon-haskell:before {
  content: "\ea72";
  color: #5d4f85;
}
.icon-hatenabookmark:before {
  content: "\ea73";
  color: #00a4de;
}
.icon-heroku:before {
  content: "\ea74";
  color: #430098;
}
.icon-hexo:before {
  content: "\ea75";
  color: #0e83cd;
}
.icon-hipchat:before {
  content: "\ea76";
  color: #0052cc;
}
.icon-homify:before {
  content: "\ea77";
  color: #7dcda3;
}
.icon-hootsuite:before {
  content: "\ea78";
}
.icon-houzz:before {
  content: "\ea79";
  color: #7ac142;
}
.icon-html5:before {
  content: "\ea7a";
  color: #e34f26;
}
.icon-hulu:before {
  content: "\ea7b";
  color: #3dbb3d;
}
.icon-humblebundle:before {
  content: "\ea7c";
  color: #cc2929;
}
.icon-icq:before {
  content: "\ea7d";
  color: #7ebd00;
}
.icon-ifixit:before {
  content: "\ea7e";
  color: #0071ce;
}
.icon-imdb:before {
  content: "\ea7f";
  color: #e6b91e;
}
.icon-inkscape:before {
  content: "\ea80";
}
.icon-instacart:before {
  content: "\ea81";
  color: #43b02a;
}
.icon-instagram:before {
  content: "\ea82";
  color: #e4405f;
}
.icon-instapaper:before {
  content: "\ea83";
}
.icon-intel:before {
  content: "\ea84";
  color: #0071c5;
}
.icon-intercom:before {
  content: "\ea85";
  color: #1f8ded;
}
.icon-invision:before {
  content: "\ea86";
  color: #f36;
}
.icon-javascript:before {
  content: "\ea87";
  color: #f7df1e;
}
.icon-jekyll:before {
  content: "\ea88";
  color: #c00;
}
.icon-jenkins:before {
  content: "\ea89";
  color: #d24939;
}
.icon-jira:before {
  content: "\ea8a";
}
.icon-joomla:before {
  content: "\ea8b";
  color: #5091cd;
}
.icon-jquery:before {
  content: "\ea8c";
  color: #0769ad;
}
.icon-jsfiddle:before {
  content: "\ea8d";
  color: #4679a4;
}
.icon-json:before {
  content: "\ea8e";
}
.icon-justgiving:before {
  content: "\ea8f";
  color: #ad29b6;
}
.icon-kaggle:before {
  content: "\ea90";
  color: #20beff;
}
.icon-keybase:before {
  content: "\ea92";
  color: #33a0ff;
}
.icon-keycdn:before {
  content: "\ea93";
  color: #3686be;
}
.icon-khanacademy:before {
  content: "\ea94";
  color: #9db63b;
}
.icon-kickstarter:before {
  content: "\ea95";
  color: #2bde73;
}
.icon-kik:before {
  content: "\ea97";
  color: #82bc23;
}
.icon-kirby:before {
  content: "\ea98";
  color: #ff0100;
}
.icon-klout:before {
  content: "\ea99";
  color: #e44600;
}
.icon-known:before {
  content: "\ea9a";
}
.icon-koding:before {
  content: "\ea9b";
  color: #00b057;
}
.icon-lanyrd:before {
  content: "\ea9c";
  color: #3c80ca;
}
.icon-laravel:before {
  content: "\ea9d";
  color: #e74430;
}
.icon-lastfm:before {
  content: "\ea9e";
  color: #d51007;
}
.icon-launchpad:before {
  content: "\ea9f";
  color: #f8c300;
}
.icon-letterboxd:before {
  content: "\eaa0";
  color: #00d735;
}
.icon-line:before {
  content: "\eaa1";
  color: #00c300;
}
.icon-linkedin:before {
  content: "\eaa2";
  color: #0077b5;
}
.icon-linux:before {
  content: "\eaa3";
  color: #fcc624;
}
.icon-linuxfoundation:before {
  content: "\eaa4";
  color: #009bee;
}
.icon-livejournal:before {
  content: "\eaa5";
  color: #00b0ea;
}
.icon-livestream:before {
  content: "\eaa6";
  color: #cf202e;
}
.icon-macys:before {
  content: "\eaa7";
  color: #e21a2c;
}
.icon-magento:before {
  content: "\eaa8";
  color: #ee672f;
}
.icon-mailchimp:before {
  content: "\eaa9";
  color: #239ab9;
}
.icon-makerbot:before {
  content: "\eaaa";
  color: #ff1e0d;
}
.icon-mastercard:before {
  content: "\eaab";
  color: #eb001b;
}
.icon-mastodon:before {
  content: "\eaac";
  color: #189efc;
}
.icon-matternet:before {
  content: "\eaad";
}
.icon-mediatemple:before {
  content: "\eaae";
}
.icon-medium:before {
  content: "\eaaf";
}
.icon-meetup:before {
  content: "\eab0";
  color: #ed1c40;
}
.icon-messenger:before {
  content: "\eab1";
  color: #0084ff;
}
.icon-meteor:before {
  content: "\eab2";
  color: #de4f4f;
}
.icon-microblog:before {
  content: "\eab3";
  color: #fd8308;
}
.icon-microgenetics:before {
  content: "\eab4";
  color: #f00;
}
.icon-microsoft:before {
  content: "\eab5";
  color: #666;
}
.icon-microsoftaccess:before {
  content: "\eab6";
  color: #ba141a;
}
.icon-microsoftexcel:before {
  content: "\eab7";
  color: #217346;
}
.icon-microsoftonenote:before {
  content: "\eab8";
  color: #80397b;
}
.icon-microsoftoutlook:before {
  content: "\eab9";
  color: #0072c6;
}
.icon-microsoftpowerpoint:before {
  content: "\eaba";
  color: #d24726;
}
.icon-microsoftword:before {
  content: "\eabb";
  color: #2b579a;
}
.icon-minutemailer:before {
  content: "\eabc";
  color: #3abfe6;
}
.icon-mixcloud:before {
  content: "\eabd";
  color: #314359;
}
.icon-monero:before {
  content: "\eabe";
  color: #f60;
}
.icon-mongodb:before {
  content: "\eabf";
  color: #47a248;
}
.icon-monkeytie:before {
  content: "\eac0";
  color: #ffc619;
}
.icon-monogram:before {
  content: "\eac1";
  color: #fdb22a;
}
.icon-moo:before {
  content: "\eac2";
  color: #00945e;
}
.icon-mozilla:before {
  content: "\eac3";
}
.icon-mozillafirefox:before {
  content: "\eac4";
  color: #ff9400;
}
.icon-myspace:before {
  content: "\eac5";
}
.icon-mysql:before {
  content: "\eac6";
  color: #4479a1;
}
.icon-neo4j:before {
  content: "\eac7";
  color: #008cc1;
}
.icon-netflix:before {
  content: "\eac8";
  color: #e50914;
}
.icon-netlify:before {
  content: "\eac9";
  color: #00c7b7;
}
.icon-nextdoor:before {
  content: "\eaca";
  color: #00b246;
}
.icon-nginx:before {
  content: "\eacb";
  color: #269539;
}
.icon-nintendo:before {
  content: "\eacc";
  color: #8f8f8f;
}
.icon-nintendogamecube:before {
  content: "\eacd";
  color: #6a5fbb;
}
.icon-nintendoswitch:before {
  content: "\eace";
  color: #e60012;
}
.icon-nodejs:before {
  content: "\eacf";
  color: #393;
}
.icon-nodemon:before {
  content: "\ead0";
  color: #76d04b;
}
.icon-npm:before {
  content: "\ead1";
  color: #cb3837;
}
.icon-nucleo:before {
  content: "\ead2";
  color: #766dcc;
}
.icon-oculus:before {
  content: "\ead3";
}
.icon-odnoklassniki:before {
  content: "\ead4";
  color: #f4731c;
}
.icon-onedrive:before {
  content: "\ead5";
  color: #094ab2;
}
.icon-opera:before {
  content: "\ead6";
  color: #ff1b2d;
}
.icon-origin:before {
  content: "\ead7";
  color: #f56c2d;
}
.icon-overcast:before {
  content: "\ead8";
  color: #fc7e0f;
}
.icon-ovh:before {
  content: "\ead9";
  color: #123f6d;
}
.icon-pagekit:before {
  content: "\eada";
}
.icon-pandora:before {
  content: "\eadb";
  color: #005483;
}
.icon-patreon:before {
  content: "\eadc";
  color: #f96854;
}
.icon-paypal:before {
  content: "\eadd";
  color: #00457c;
}
.icon-periscope:before {
  content: "\eade";
  color: #40a4c4;
}
.icon-php:before {
  content: "\eadf";
  color: #777bb4;
}
.icon-pinboard:before {
  content: "\eae0";
  color: #00f;
}
.icon-pingdom:before {
  content: "\eae1";
  color: #fff000;
}
.icon-pingup:before {
  content: "\eae2";
  color: #00b1ab;
}
.icon-pinterest:before {
  content: "\eae3";
  color: #bd081c;
}
.icon-plangrid:before {
  content: "\eae4";
  color: #0085de;
}
.icon-playerme:before {
  content: "\eae5";
  color: #c0379a;
}
.icon-playstation:before {
  content: "\eae6";
  color: #003791;
}
.icon-playstation3:before {
  content: "\eae7";
  color: #003791;
}
.icon-playstation4:before {
  content: "\eae8";
  color: #003791;
}
.icon-plex:before {
  content: "\eae9";
  color: #e5a00d;
}
.icon-pluralsight:before {
  content: "\eaea";
  color: #f15b2a;
}
.icon-plurk:before {
  content: "\eaeb";
  color: #e9443d;
}
.icon-pocket:before {
  content: "\eaec";
  color: #ef3f56;
}
.icon-podcasts:before {
  content: "\eaed";
  color: #93c;
}
.icon-prismic:before {
  content: "\eaee";
  color: #484a7a;
}
.icon-processwire:before {
  content: "\eaef";
  color: #ef145f;
}
.icon-producthunt:before {
  content: "\eaf0";
  color: #da552f;
}
.icon-protoio:before {
  content: "\eaf1";
  color: #34a7c1;
}
.icon-protonmail:before {
  content: "\eaf2";
  color: #8b89cc;
}
.icon-python:before {
  content: "\eaf3";
  color: #3776ab;
}
.icon-qiita:before {
  content: "\eaf4";
  color: #55c500;
}
.icon-quantcast:before {
  content: "\eaf5";
}
.icon-quantopian:before {
  content: "\eaf6";
  color: #c50000;
}
.icon-quora:before {
  content: "\eaf7";
  color: #b92b27;
}
.icon-rails:before {
  content: "\eaf8";
  color: #c00;
}
.icon-raspberrypi:before {
  content: "\eaf9";
  color: #c51a4a;
}
.icon-react:before {
  content: "\eafa";
  color: #61dafb;
}
.icon-readability:before {
  content: "\eafb";
  color: #900;
}
.icon-readthedocs:before {
  content: "\eafc";
  color: #8ca1af;
}
.icon-reddit:before {
  content: "\eafd";
  color: #ff4500;
}
.icon-redis:before {
  content: "\eafe";
  color: #d82c20;
}
.icon-redux:before {
  content: "\eaff";
  color: #764abc;
}
.icon-reverbnation:before {
  content: "\eb00";
  color: #e43526;
}
.icon-roots:before {
  content: "\eb01";
  color: #27ae60;
}
.icon-rss:before {
  content: "\eb02";
  color: #ffa500;
}
.icon-ruby:before {
  content: "\eb03";
  color: #cc342d;
}
.icon-runkeeper:before {
  content: "\eb04";
  color: #2dc9d7;
}
.icon-rust:before {
  content: "\eb05";
}
.icon-salesforce:before {
  content: "\eb06";
  color: #00a1e0;
}
.icon-sass:before {
  content: "\eb07";
  color: #c69;
}
.icon-saucelabs:before {
  content: "\eb08";
  color: #e2231a;
}
.icon-scribd:before {
  content: "\eb09";
  color: #1a7bba;
}
.icon-sega:before {
  content: "\eb0a";
  color: #0089cf;
}
.icon-sellfy:before {
  content: "\eb0b";
  color: #21b352;
}
.icon-sentry:before {
  content: "\eb0c";
  color: #fb4226;
}
.icon-serverfault:before {
  content: "\eb0d";
  color: #e7282d;
}
.icon-shazam:before {
  content: "\eb0e";
  color: #08f;
}
.icon-shopify:before {
  content: "\eb0f";
  color: #7ab55c;
}
.icon-signal2:before {
  content: "\eb10";
  color: #2592e9;
}
.icon-simpleicons:before {
  content: "\eb11";
}
.icon-sinaweibo:before {
  content: "\eb12";
  color: #e6162d;
}
.icon-sitepoint:before {
  content: "\eb13";
  color: #258aaf;
}
.icon-skyliner:before {
  content: "\eb14";
  color: #2fcea0;
}
.icon-skype:before {
  content: "\eb15";
  color: #00aff0;
}
.icon-slack:before {
  content: "\eb16";
  color: #56b68b;
}
.icon-slashdot:before {
  content: "\eb17";
  color: #026664;
}
.icon-slickpic:before {
  content: "\eb18";
  color: #ff880f;
}
.icon-slides:before {
  content: "\eb19";
  color: #e4637c;
}
.icon-smashingmagazine:before {
  content: "\eb1a";
  color: #e85c33;
}
.icon-snapchat:before {
  content: "\eb1b";
  color: #fffc00;
}
.icon-sogou:before {
  content: "\eb1c";
  color: #fb6022;
}
.icon-songkick:before {
  content: "\eb1d";
  color: #f80046;
}
.icon-soundcloud:before {
  content: "\eb1e";
  color: #f30;
}
.icon-sourceforge:before {
  content: "\eb1f";
  color: #535353;
}
.icon-sparkpost:before {
  content: "\eb20";
  color: #fa6423;
}
.icon-speakerdeck:before {
  content: "\eb21";
  color: #396;
}
.icon-spotify:before {
  content: "\eb22";
  color: #1ed760;
}
.icon-spotlight:before {
  content: "\eb23";
  color: #352a71;
}
.icon-spreaker:before {
  content: "\eb24";
  color: #f5c300;
}
.icon-squarespace:before {
  content: "\eb25";
}
.icon-stackexchange:before {
  content: "\eb26";
  color: #1e5397;
}
.icon-stackoverflow:before {
  content: "\eb27";
  color: #fe7a16;
}
.icon-statamic:before {
  content: "\eb28";
}
.icon-staticman:before {
  content: "\eb29";
}
.icon-steam:before {
  content: "\eb2a";
}
.icon-steem:before {
  content: "\eb2b";
  color: #4ba2f2;
}
.icon-stitcher:before {
  content: "\eb2c";
}
.icon-storify:before {
  content: "\eb2d";
  color: #3a98d9;
}
.icon-strava:before {
  content: "\eb2e";
  color: #fc4c02;
}
.icon-stripe:before {
  content: "\eb2f";
  color: #008cdd;
}
.icon-stubhub:before {
  content: "\eb30";
  color: #003168;
}
.icon-stumbleupon:before {
  content: "\eb31";
  color: #eb4924;
}
.icon-styleshare:before {
  content: "\eb32";
}
.icon-stylus:before {
  content: "\eb33";
}
.icon-sublimetext:before {
  content: "\eb34";
}
.icon-subversion:before {
  content: "\eb35";
  color: #809cc9;
}
.icon-superuser:before {
  content: "\eb36";
  color: #2eace3;
}
.icon-swarm:before {
  content: "\eb37";
  color: #ffa633;
}
.icon-swift:before {
  content: "\eb38";
  color: #fa7343;
}
.icon-symfony:before {
  content: "\eb39";
}
.icon-ted:before {
  content: "\eb3a";
  color: #e62b1e;
}
.icon-teespring:before {
  content: "\eb3b";
  color: #39ace6;
}
.icon-telegram:before {
  content: "\eb3c";
  color: #2ca5e0;
}
.icon-tencentqq:before {
  content: "\eb3d";
  color: #12b7f5;
}
.icon-tesla:before {
  content: "\eb3e";
  color: #c00;
}
.icon-themighty:before {
  content: "\eb3f";
  color: #d0072a;
}
.icon-tinder:before {
  content: "\eb40";
  color: #ff6b6b;
}
.icon-toggl:before {
  content: "\eb41";
  color: #e01b22;
}
.icon-topcoder:before {
  content: "\eb42";
  color: #29a8e0;
}
.icon-toptal:before {
  content: "\eb43";
  color: #3863a0;
}
.icon-trakt:before {
  content: "\eb44";
  color: #ed1c24;
}
.icon-travisci:before {
  content: "\eb45";
  color: #39a85b;
}
.icon-treehouse:before {
  content: "\eb46";
  color: #5fcf80;
}
.icon-trello:before {
  content: "\eb47";
  color: #0079bf;
}
.icon-tripadvisor:before {
  content: "\eb48";
  color: #00af87;
}
.icon-trulia:before {
  content: "\eb49";
  color: #53b50a;
}
.icon-tumblr:before {
  content: "\eb4a";
  color: #36465d;
}
.icon-twilio:before {
  content: "\eb4b";
  color: #f22f46;
}
.icon-twitch:before {
  content: "\eb4c";
  color: #6441a4;
}
.icon-twitter2:before {
  content: "\eb4d";
  color: #1da1f2;
}
.icon-twoo:before {
  content: "\eb4e";
  color: #ff7102;
}
.icon-uber:before {
  content: "\eb4f";
}
.icon-ubuntu:before {
  content: "\eb50";
  color: #e95420;
}
.icon-udacity:before {
  content: "\eb51";
  color: #01b3e3;
}
.icon-uikit:before {
  content: "\eb52";
  color: #2396f3;
}
.icon-umbraco:before {
  content: "\eb53";
  color: #00bec1;
}
.icon-untappd:before {
  content: "\eb54";
  color: #ffc000;
}
.icon-upwork:before {
  content: "\eb55";
  color: #6fda44;
}
.icon-viadeo:before {
  content: "\eb56";
  color: #f88d2d;
}
.icon-viber:before {
  content: "\eb57";
  color: #7c529e;
}
.icon-vim:before {
  content: "\eb58";
  color: #019733;
}
.icon-vimeo:before {
  content: "\eb59";
  color: #1ab7ea;
}
.icon-vine:before {
  content: "\eb5a";
  color: #11b48a;
}
.icon-virb:before {
  content: "\eb5b";
  color: #0093da;
}
.icon-visa:before {
  content: "\eb5c";
  color: #142787;
}
.icon-visualstudiocode:before {
  content: "\eb5d";
  color: #0271bc;
}
.icon-vk:before {
  content: "\eb5e";
  color: #6383a8;
}
.icon-vsco:before {
  content: "\eb5f";
}
.icon-vuejs:before {
  content: "\eb60";
  color: #4fc08d;
}
.icon-webpack:before {
  content: "\eb61";
  color: #8dd6f9;
}
.icon-webstorm:before {
  content: "\eb62";
  color: #00cdd7;
}
.icon-wechat:before {
  content: "\eb63";
  color: #7bb32e;
}
.icon-whatsapp:before {
  content: "\eb64";
  color: #25d366;
}
.icon-wheniwork:before {
  content: "\eb65";
  color: #51a33d;
}
.icon-wii:before {
  content: "\eb66";
  color: #8b8b8b;
}
.icon-wiiu:before {
  content: "\eb67";
  color: #8b8b8b;
}
.icon-wikipedia:before {
  content: "\eb68";
}
.icon-windows:before {
  content: "\eb69";
  color: #0078d6;
}
.icon-wire:before {
  content: "\eb6a";
}
.icon-wix:before {
  content: "\eb6b";
  color: #faad4d;
}
.icon-wordpress:before {
  content: "\eb6c";
  color: #21759b;
}
.icon-wpengine:before {
  content: "\eb6d";
  color: #40bac8;
}
.icon-xbox:before {
  content: "\eb6e";
  color: #107c10;
}
.icon-xcode:before {
  content: "\eb6f";
  color: #1575f9;
}
.icon-xero:before {
  content: "\eb70";
  color: #13b5ea;
}
.icon-xing:before {
  content: "\eb71";
  color: #006567;
}
.icon-yahoo:before {
  content: "\eb72";
  color: #409;
}
.icon-yammer:before {
  content: "\eb73";
  color: #0072c6;
}
.icon-yandex:before {
  content: "\eb74";
  color: #f00;
}
.icon-ycombinator:before {
  content: "\eb75";
  color: #f0652f;
}
.icon-yelp:before {
  content: "\eb76";
  color: #d32323;
}
.icon-youtube:before {
  content: "\eb77";
  color: #f00;
}
.icon-zapier:before {
  content: "\eb78";
  color: #ff4a00;
}
.icon-zendesk:before {
  content: "\eb79";
}
.icon-zerply:before {
  content: "\eb7a";
  color: #9dbc7a;
}
.icon-zillow:before {
  content: "\eb7b";
  color: #0074e4;
}
.icon-dashboard:before {
  content: "\e9ea";
}
.icon-home:before {
  content: "\e600";
}
.icon-home2:before {
  content: "\e601";
}
.icon-home3:before {
  content: "\e602";
}
.icon-home4:before {
  content: "\e603";
}
.icon-home5:before {
  content: "\e604";
}
.icon-home6:before {
  content: "\e605";
}
.icon-bathtub:before {
  content: "\e606";
}
.icon-toothbrush:before {
  content: "\e607";
}
.icon-bed:before {
  content: "\e608";
}
.icon-couch:before {
  content: "\e609";
}
.icon-chair:before {
  content: "\e60a";
}
.icon-city:before {
  content: "\e60b";
}
.icon-apartment:before {
  content: "\e60c";
}
.icon-pencil:before {
  content: "\e60d";
}
.icon-pencil2:before {
  content: "\e60e";
}
.icon-pen:before {
  content: "\e60f";
}
.icon-pencil3:before {
  content: "\e610";
}
.icon-eraser:before {
  content: "\e611";
}
.icon-pencil4:before {
  content: "\e612";
}
.icon-pencil5:before {
  content: "\e613";
}
.icon-feather:before {
  content: "\e614";
}
.icon-feather2:before {
  content: "\e615";
}
.icon-feather3:before {
  content: "\e616";
}
.icon-pen2:before {
  content: "\e617";
}
.icon-pen-add:before {
  content: "\e618";
}
.icon-pen-remove:before {
  content: "\e619";
}
.icon-vector:before {
  content: "\e61a";
}
.icon-pen3:before {
  content: "\e61b";
}
.icon-blog:before {
  content: "\e61c";
}
.icon-brush:before {
  content: "\e61d";
}
.icon-brush2:before {
  content: "\e61e";
}
.icon-spray:before {
  content: "\e61f";
}
.icon-paint-roller:before {
  content: "\e620";
}
.icon-stamp:before {
  content: "\e621";
}
.icon-tape:before {
  content: "\e622";
}
.icon-desk-tape:before {
  content: "\e623";
}
.icon-texture:before {
  content: "\e624";
}
.icon-eye-dropper:before {
  content: "\e625";
}
.icon-palette:before {
  content: "\e626";
}
.icon-color-sampler:before {
  content: "\e627";
}
.icon-bucket:before {
  content: "\e628";
}
.icon-gradient:before {
  content: "\e629";
}
.icon-gradient2:before {
  content: "\e62a";
}
.icon-magic-wand:before {
  content: "\e62b";
}
.icon-magnet:before {
  content: "\e62c";
}
.icon-pencil-ruler:before {
  content: "\e62d";
}
.icon-pencil-ruler2:before {
  content: "\e62e";
}
.icon-compass:before {
  content: "\e62f";
}
.icon-aim:before {
  content: "\e630";
}
.icon-gun:before {
  content: "\e631";
}
.icon-bottle:before {
  content: "\e632";
}
.icon-drop:before {
  content: "\e633";
}
.icon-drop-crossed:before {
  content: "\e634";
}
.icon-drop2:before {
  content: "\e635";
}
.icon-snow:before {
  content: "\e636";
}
.icon-snow2:before {
  content: "\e637";
}
.icon-fire:before {
  content: "\e638";
}
.icon-lighter:before {
  content: "\e639";
}
.icon-knife:before {
  content: "\e63a";
}
.icon-dagger:before {
  content: "\e63b";
}
.icon-tissue:before {
  content: "\e63c";
}
.icon-toilet-paper:before {
  content: "\e63d";
}
.icon-poop:before {
  content: "\e63e";
}
.icon-umbrella:before {
  content: "\e63f";
}
.icon-umbrella2:before {
  content: "\e640";
}
.icon-rain:before {
  content: "\e641";
}
.icon-tornado:before {
  content: "\e642";
}
.icon-wind:before {
  content: "\e643";
}
.icon-fan:before {
  content: "\e644";
}
.icon-contrast:before {
  content: "\e645";
}
.icon-sun-small:before {
  content: "\e646";
}
.icon-sun:before {
  content: "\e647";
}
.icon-sun2:before {
  content: "\e648";
}
.icon-moon:before {
  content: "\e649";
}
.icon-cloud:before {
  content: "\e64a";
}
.icon-cloud-upload:before {
  content: "\e64b";
}
.icon-cloud-download:before {
  content: "\e64c";
}
.icon-cloud-rain:before {
  content: "\e64d";
}
.icon-cloud-hailstones:before {
  content: "\e64e";
}
.icon-cloud-snow:before {
  content: "\e64f";
}
.icon-cloud-windy:before {
  content: "\e650";
}
.icon-sun-wind:before {
  content: "\e651";
}
.icon-cloud-fog:before {
  content: "\e652";
}
.icon-cloud-sun:before {
  content: "\e653";
}
.icon-cloud-lightning:before {
  content: "\e654";
}
.icon-cloud-sync:before {
  content: "\e655";
}
.icon-cloud-lock:before {
  content: "\e656";
}
.icon-cloud-gear:before {
  content: "\e657";
}
.icon-cloud-alert:before {
  content: "\e658";
}
.icon-cloud-check:before {
  content: "\e659";
}
.icon-cloud-cross:before {
  content: "\e65a";
}
.icon-cloud-crossed:before {
  content: "\e65b";
}
.icon-cloud-database:before {
  content: "\e65c";
}
.icon-database:before {
  content: "\e65d";
}
.icon-database-add:before {
  content: "\e65e";
}
.icon-database-remove:before {
  content: "\e65f";
}
.icon-database-lock:before {
  content: "\e660";
}
.icon-database-refresh:before {
  content: "\e661";
}
.icon-database-check:before {
  content: "\e662";
}
.icon-database-history:before {
  content: "\e663";
}
.icon-database-upload:before {
  content: "\e664";
}
.icon-database-download:before {
  content: "\e665";
}
.icon-server:before {
  content: "\e666";
}
.icon-shield:before {
  content: "\e667";
}
.icon-shield-check:before {
  content: "\e668";
}
.icon-shield-alert:before {
  content: "\e669";
}
.icon-shield-cross:before {
  content: "\e66a";
}
.icon-lock:before {
  content: "\e66b";
}
.icon-rotation-lock:before {
  content: "\e66c";
}
.icon-unlock:before {
  content: "\e66d";
}
.icon-key:before {
  content: "\e66e";
}
.icon-key-hole:before {
  content: "\e66f";
}
.icon-toggle-off:before {
  content: "\e670";
}
.icon-toggle-on:before {
  content: "\e671";
}
.icon-cog:before {
  content: "\e672";
}
.icon-cog2:before {
  content: "\e673";
}
.icon-wrench:before {
  content: "\e674";
}
.icon-screwdriver:before {
  content: "\e675";
}
.icon-hammer-wrench:before {
  content: "\e676";
}
.icon-hammer:before {
  content: "\e677";
}
.icon-saw:before {
  content: "\e678";
}
.icon-axe:before {
  content: "\e679";
}
.icon-axe2:before {
  content: "\e67a";
}
.icon-shovel:before {
  content: "\e67b";
}
.icon-pickaxe:before {
  content: "\e67c";
}
.icon-factory:before {
  content: "\e67d";
}
.icon-factory2:before {
  content: "\e67e";
}
.icon-recycle:before {
  content: "\e67f";
}
.icon-trash:before {
  content: "\e680";
}
.icon-trash2:before {
  content: "\e681";
}
.icon-trash3:before {
  content: "\e682";
}
.icon-broom:before {
  content: "\e683";
}
.icon-game:before {
  content: "\e684";
}
.icon-gamepad:before {
  content: "\e685";
}
.icon-joystick:before {
  content: "\e686";
}
.icon-dice:before {
  content: "\e687";
}
.icon-spades:before {
  content: "\e688";
}
.icon-diamonds:before {
  content: "\e689";
}
.icon-clubs:before {
  content: "\e68a";
}
.icon-hearts:before {
  content: "\e68b";
}
.icon-heart:before {
  content: "\e68c";
}
.icon-star:before {
  content: "\e68d";
}
.icon-star-half:before {
  content: "\e68e";
}
.icon-star-empty:before {
  content: "\e68f";
}
.icon-flag:before {
  content: "\e690";
}
.icon-flag2:before {
  content: "\e691";
}
.icon-flag3:before {
  content: "\e692";
}
.icon-mailbox-full:before {
  content: "\e693";
}
.icon-mailbox-empty:before {
  content: "\e694";
}
.icon-at-sign:before {
  content: "\e695";
}
.icon-envelope:before {
  content: "\e696";
}
.icon-envelope-open:before {
  content: "\e697";
}
.icon-paperclip:before {
  content: "\e698";
}
.icon-paper-plane:before {
  content: "\e699";
}
.icon-reply:before {
  content: "\e69a";
}
.icon-reply-all:before {
  content: "\e69b";
}
.icon-inbox:before {
  content: "\e69c";
}
.icon-inbox2:before {
  content: "\e69d";
}
.icon-outbox:before {
  content: "\e69e";
}
.icon-box:before {
  content: "\e69f";
}
.icon-archive:before {
  content: "\e6a0";
}
.icon-archive2:before {
  content: "\e6a1";
}
.icon-drawers:before {
  content: "\e6a2";
}
.icon-drawers2:before {
  content: "\e6a3";
}
.icon-drawers3:before {
  content: "\e6a4";
}
.icon-eye:before {
  content: "\e6a5";
}
.icon-eye-crossed:before {
  content: "\e6a6";
}
.icon-eye-plus:before {
  content: "\e6a7";
}
.icon-eye-minus:before {
  content: "\e6a8";
}
.icon-binoculars:before {
  content: "\e6a9";
}
.icon-binoculars2:before {
  content: "\e6aa";
}
.icon-hdd:before {
  content: "\e6ab";
}
.icon-hdd-down:before {
  content: "\e6ac";
}
.icon-hdd-up:before {
  content: "\e6ad";
}
.icon-floppy-disk:before {
  content: "\e6ae";
}
.icon-disc:before {
  content: "\e6af";
}
.icon-tape2:before {
  content: "\e6b0";
}
.icon-printer:before {
  content: "\e6b1";
}
.icon-shredder:before {
  content: "\e6b2";
}
.icon-file-empty:before {
  content: "\e6b3";
}
.icon-file-add:before {
  content: "\e6b4";
}
.icon-file-check:before {
  content: "\e6b5";
}
.icon-file-lock:before {
  content: "\e6b6";
}
.icon-files:before {
  content: "\e6b7";
}
.icon-copy:before {
  content: "\e6b8";
}
.icon-compare:before {
  content: "\e6b9";
}
.icon-folder:before {
  content: "\e6ba";
}
.icon-folder-search:before {
  content: "\e6bb";
}
.icon-folder-plus:before {
  content: "\e6bc";
}
.icon-folder-minus:before {
  content: "\e6bd";
}
.icon-folder-download:before {
  content: "\e6be";
}
.icon-folder-upload:before {
  content: "\e6bf";
}
.icon-folder-star:before {
  content: "\e6c0";
}
.icon-folder-heart:before {
  content: "\e6c1";
}
.icon-folder-user:before {
  content: "\e6c2";
}
.icon-folder-shared:before {
  content: "\e6c3";
}
.icon-folder-music:before {
  content: "\e6c4";
}
.icon-folder-picture:before {
  content: "\e6c5";
}
.icon-folder-film:before {
  content: "\e6c6";
}
.icon-scissors:before {
  content: "\e6c7";
}
.icon-paste:before {
  content: "\e6c8";
}
.icon-clipboard-empty:before {
  content: "\e6c9";
}
.icon-clipboard-pencil:before {
  content: "\e6ca";
}
.icon-clipboard-text:before {
  content: "\e6cb";
}
.icon-clipboard-check:before {
  content: "\e6cc";
}
.icon-clipboard-down:before {
  content: "\e6cd";
}
.icon-clipboard-left:before {
  content: "\e6ce";
}
.icon-clipboard-alert:before {
  content: "\e6cf";
}
.icon-clipboard-user:before {
  content: "\e6d0";
}
.icon-register:before {
  content: "\e6d1";
}
.icon-enter:before {
  content: "\e6d2";
}
.icon-exit:before {
  content: "\e6d3";
}
.icon-papers:before {
  content: "\e6d4";
}
.icon-news:before {
  content: "\e6d5";
}
.icon-reading:before {
  content: "\e6d6";
}
.icon-typewriter:before {
  content: "\e6d7";
}
.icon-document:before {
  content: "\e6d8";
}
.icon-document2:before {
  content: "\e6d9";
}
.icon-graduation-hat:before {
  content: "\e6da";
}
.icon-license:before {
  content: "\e6db";
}
.icon-license2:before {
  content: "\e6dc";
}
.icon-medal-empty:before {
  content: "\e6dd";
}
.icon-medal-first:before {
  content: "\e6de";
}
.icon-medal-second:before {
  content: "\e6df";
}
.icon-medal-third:before {
  content: "\e6e0";
}
.icon-podium:before {
  content: "\e6e1";
}
.icon-trophy:before {
  content: "\e6e2";
}
.icon-trophy2:before {
  content: "\e6e3";
}
.icon-music-note:before {
  content: "\e6e4";
}
.icon-music-note2:before {
  content: "\e6e5";
}
.icon-music-note3:before {
  content: "\e6e6";
}
.icon-playlist:before {
  content: "\e6e7";
}
.icon-playlist-add:before {
  content: "\e6e8";
}
.icon-guitar:before {
  content: "\e6e9";
}
.icon-trumpet:before {
  content: "\e6ea";
}
.icon-album:before {
  content: "\e6eb";
}
.icon-shuffle:before {
  content: "\e6ec";
}
.icon-repeat-one:before {
  content: "\e6ed";
}
.icon-repeat:before {
  content: "\e6ee";
}
.icon-headphones:before {
  content: "\e6ef";
}
.icon-headset:before {
  content: "\e6f0";
}
.icon-loudspeaker:before {
  content: "\e6f1";
}
.icon-equalizer:before {
  content: "\e6f2";
}
.icon-theater:before {
  content: "\e6f3";
}
.icon-3d-glasses:before {
  content: "\e6f4";
}
.icon-ticket:before {
  content: "\e6f5";
}
.icon-presentation:before {
  content: "\e6f6";
}
.icon-play:before {
  content: "\e6f7";
}
.icon-film-play:before {
  content: "\e6f8";
}
.icon-clapboard-play:before {
  content: "\e6f9";
}
.icon-media:before {
  content: "\e6fa";
}
.icon-film:before {
  content: "\e6fb";
}
.icon-film2:before {
  content: "\e6fc";
}
.icon-surveillance:before {
  content: "\e6fd";
}
.icon-surveillance2:before {
  content: "\e6fe";
}
.icon-camera:before {
  content: "\e6ff";
}
.icon-camera-crossed:before {
  content: "\e700";
}
.icon-camera-play:before {
  content: "\e701";
}
.icon-time-lapse:before {
  content: "\e702";
}
.icon-record:before {
  content: "\e703";
}
.icon-camera2:before {
  content: "\e704";
}
.icon-camera-flip:before {
  content: "\e705";
}
.icon-panorama:before {
  content: "\e706";
}
.icon-time-lapse2:before {
  content: "\e707";
}
.icon-shutter:before {
  content: "\e708";
}
.icon-shutter2:before {
  content: "\e709";
}
.icon-face-detection:before {
  content: "\e70a";
}
.icon-flare:before {
  content: "\e70b";
}
.icon-convex:before {
  content: "\e70c";
}
.icon-concave:before {
  content: "\e70d";
}
.icon-picture:before {
  content: "\e70e";
}
.icon-picture2:before {
  content: "\e70f";
}
.icon-picture3:before {
  content: "\e710";
}
.icon-pictures:before {
  content: "\e711";
}
.icon-book:before {
  content: "\e712";
}
.icon-audio-book:before {
  content: "\e713";
}
.icon-book2:before {
  content: "\e714";
}
.icon-bookmark:before {
  content: "\e715";
}
.icon-bookmark2:before {
  content: "\e716";
}
.icon-label:before {
  content: "\e717";
}
.icon-library:before {
  content: "\e718";
}
.icon-library2:before {
  content: "\e719";
}
.icon-contacts:before {
  content: "\e71a";
}
.icon-profile:before {
  content: "\e71b";
}
.icon-portrait:before {
  content: "\e71c";
}
.icon-portrait2:before {
  content: "\e71d";
}
.icon-user:before {
  content: "\e71e";
}
.icon-user-plus:before {
  content: "\e71f";
}
.icon-user-minus:before {
  content: "\e720";
}
.icon-user-lock:before {
  content: "\e721";
}
.icon-users:before {
  content: "\e722";
}
.icon-users2:before {
  content: "\e723";
}
.icon-users-plus:before {
  content: "\e724";
}
.icon-users-minus:before {
  content: "\e725";
}
.icon-group-work:before {
  content: "\e726";
}
.icon-woman:before {
  content: "\e727";
}
.icon-man:before {
  content: "\e728";
}
.icon-baby:before {
  content: "\e729";
}
.icon-baby2:before {
  content: "\e72a";
}
.icon-baby3:before {
  content: "\e72b";
}
.icon-baby-bottle:before {
  content: "\e72c";
}
.icon-walk:before {
  content: "\e72d";
}
.icon-hand-waving:before {
  content: "\e72e";
}
.icon-jump:before {
  content: "\e72f";
}
.icon-run:before {
  content: "\e730";
}
.icon-woman2:before {
  content: "\e731";
}
.icon-man2:before {
  content: "\e732";
}
.icon-man-woman:before {
  content: "\e733";
}
.icon-height:before {
  content: "\e734";
}
.icon-weight:before {
  content: "\e735";
}
.icon-scale:before {
  content: "\e736";
}
.icon-button:before {
  content: "\e737";
}
.icon-bow-tie:before {
  content: "\e738";
}
.icon-tie:before {
  content: "\e739";
}
.icon-socks:before {
  content: "\e73a";
}
.icon-shoe:before {
  content: "\e73b";
}
.icon-shoes:before {
  content: "\e73c";
}
.icon-hat:before {
  content: "\e73d";
}
.icon-pants:before {
  content: "\e73e";
}
.icon-shorts:before {
  content: "\e73f";
}
.icon-flip-flops:before {
  content: "\e740";
}
.icon-shirt:before {
  content: "\e741";
}
.icon-hanger:before {
  content: "\e742";
}
.icon-laundry:before {
  content: "\e743";
}
.icon-store:before {
  content: "\e744";
}
.icon-haircut:before {
  content: "\e745";
}
.icon-store-24:before {
  content: "\e746";
}
.icon-barcode:before {
  content: "\e747";
}
.icon-barcode2:before {
  content: "\e748";
}
.icon-barcode3:before {
  content: "\e749";
}
.icon-cashier:before {
  content: "\e74a";
}
.icon-bag:before {
  content: "\e74b";
}
.icon-bag2:before {
  content: "\e74c";
}
.icon-cart:before {
  content: "\e74d";
}
.icon-cart-empty:before {
  content: "\e74e";
}
.icon-cart-full:before {
  content: "\e74f";
}
.icon-cart-plus:before {
  content: "\e750";
}
.icon-cart-plus2:before {
  content: "\e751";
}
.icon-cart-add:before {
  content: "\e752";
}
.icon-cart-remove:before {
  content: "\e753";
}
.icon-cart-exchange:before {
  content: "\e754";
}
.icon-tag:before {
  content: "\e755";
}
.icon-tags:before {
  content: "\e756";
}
.icon-receipt:before {
  content: "\e757";
}
.icon-wallet:before {
  content: "\e758";
}
.icon-credit-card:before {
  content: "\e759";
}
.icon-cash-dollar:before {
  content: "\e75a";
}
.icon-cash-euro:before {
  content: "\e75b";
}
.icon-cash-pound:before {
  content: "\e75c";
}
.icon-cash-yen:before {
  content: "\e75d";
}
.icon-bag-dollar:before {
  content: "\e75e";
}
.icon-bag-euro:before {
  content: "\e75f";
}
.icon-bag-pound:before {
  content: "\e760";
}
.icon-bag-yen:before {
  content: "\e761";
}
.icon-coin-dollar:before {
  content: "\e762";
}
.icon-coin-euro:before {
  content: "\e763";
}
.icon-coin-pound:before {
  content: "\e764";
}
.icon-coin-yen:before {
  content: "\e765";
}
.icon-calculator:before {
  content: "\e766";
}
.icon-calculator2:before {
  content: "\e767";
}
.icon-abacus:before {
  content: "\e768";
}
.icon-vault:before {
  content: "\e769";
}
.icon-telephone:before {
  content: "\e76a";
}
.icon-phone-lock:before {
  content: "\e76b";
}
.icon-phone-wave:before {
  content: "\e76c";
}
.icon-phone-pause:before {
  content: "\e76d";
}
.icon-phone-outgoing:before {
  content: "\e76e";
}
.icon-phone-incoming:before {
  content: "\e76f";
}
.icon-phone-in-out:before {
  content: "\e770";
}
.icon-phone-error:before {
  content: "\e771";
}
.icon-phone-sip:before {
  content: "\e772";
}
.icon-phone-plus:before {
  content: "\e773";
}
.icon-phone-minus:before {
  content: "\e774";
}
.icon-voicemail:before {
  content: "\e775";
}
.icon-dial:before {
  content: "\e776";
}
.icon-telephone2:before {
  content: "\e777";
}
.icon-pushpin:before {
  content: "\e778";
}
.icon-pushpin2:before {
  content: "\e779";
}
.icon-map-marker:before {
  content: "\e77a";
}
.icon-map-marker-user:before {
  content: "\e77b";
}
.icon-map-marker-down:before {
  content: "\e77c";
}
.icon-map-marker-check:before {
  content: "\e77d";
}
.icon-map-marker-crossed:before {
  content: "\e77e";
}
.icon-radar:before {
  content: "\e77f";
}
.icon-compass2:before {
  content: "\e780";
}
.icon-map:before {
  content: "\e781";
}
.icon-map2:before {
  content: "\e782";
}
.icon-location:before {
  content: "\e783";
}
.icon-road-sign:before {
  content: "\e784";
}
.icon-calendar-empty:before {
  content: "\e785";
}
.icon-calendar-check:before {
  content: "\e786";
}
.icon-calendar-cross:before {
  content: "\e787";
}
.icon-calendar-31:before {
  content: "\e788";
}
.icon-calendar-full:before {
  content: "\e789";
}
.icon-calendar-insert:before {
  content: "\e78a";
}
.icon-calendar-text:before {
  content: "\e78b";
}
.icon-calendar-user:before {
  content: "\e78c";
}
.icon-mouse:before {
  content: "\e78d";
}
.icon-mouse-left:before {
  content: "\e78e";
}
.icon-mouse-right:before {
  content: "\e78f";
}
.icon-mouse-both:before {
  content: "\e790";
}
.icon-keyboard:before {
  content: "\e791";
}
.icon-keyboard-up:before {
  content: "\e792";
}
.icon-keyboard-down:before {
  content: "\e793";
}
.icon-delete:before {
  content: "\e794";
}
.icon-spell-check:before {
  content: "\e795";
}
.icon-escape:before {
  content: "\e796";
}
.icon-enter2:before {
  content: "\e797";
}
.icon-screen:before {
  content: "\e798";
}
.icon-aspect-ratio:before {
  content: "\e799";
}
.icon-signal:before {
  content: "\e79a";
}
.icon-signal-lock:before {
  content: "\e79b";
}
.icon-signal-80:before {
  content: "\e79c";
}
.icon-signal-60:before {
  content: "\e79d";
}
.icon-signal-40:before {
  content: "\e79e";
}
.icon-signal-20:before {
  content: "\e79f";
}
.icon-signal-0:before {
  content: "\e7a0";
}
.icon-signal-blocked:before {
  content: "\e7a1";
}
.icon-sim:before {
  content: "\e7a2";
}
.icon-flash-memory:before {
  content: "\e7a3";
}
.icon-usb-drive:before {
  content: "\e7a4";
}
.icon-phone:before {
  content: "\e7a5";
}
.icon-smartphone:before {
  content: "\e7a6";
}
.icon-smartphone-notification:before {
  content: "\e7a7";
}
.icon-smartphone-vibration:before {
  content: "\e7a8";
}
.icon-smartphone-embed:before {
  content: "\e7a9";
}
.icon-smartphone-waves:before {
  content: "\e7aa";
}
.icon-tablet:before {
  content: "\e7ab";
}
.icon-tablet2:before {
  content: "\e7ac";
}
.icon-laptop:before {
  content: "\e7ad";
}
.icon-laptop-phone:before {
  content: "\e7ae";
}
.icon-desktop:before {
  content: "\e7af";
}
.icon-launch:before {
  content: "\e7b0";
}
.icon-new-tab:before {
  content: "\e7b1";
}
.icon-window:before {
  content: "\e7b2";
}
.icon-cable:before {
  content: "\e7b3";
}
.icon-cable2:before {
  content: "\e7b4";
}
.icon-tv:before {
  content: "\e7b5";
}
.icon-radio:before {
  content: "\e7b6";
}
.icon-remote-control:before {
  content: "\e7b7";
}
.icon-power-switch:before {
  content: "\e7b8";
}
.icon-power:before {
  content: "\e7b9";
}
.icon-power-crossed:before {
  content: "\e7ba";
}
.icon-flash-auto:before {
  content: "\e7bb";
}
.icon-lamp:before {
  content: "\e7bc";
}
.icon-flashlight:before {
  content: "\e7bd";
}
.icon-lampshade:before {
  content: "\e7be";
}
.icon-cord:before {
  content: "\e7bf";
}
.icon-outlet:before {
  content: "\e7c0";
}
.icon-battery-power:before {
  content: "\e7c1";
}
.icon-battery-empty:before {
  content: "\e7c2";
}
.icon-battery-alert:before {
  content: "\e7c3";
}
.icon-battery-error:before {
  content: "\e7c4";
}
.icon-battery-low1:before {
  content: "\e7c5";
}
.icon-battery-low2:before {
  content: "\e7c6";
}
.icon-battery-low3:before {
  content: "\e7c7";
}
.icon-battery-mid1:before {
  content: "\e7c8";
}
.icon-battery-mid2:before {
  content: "\e7c9";
}
.icon-battery-mid3:before {
  content: "\e7ca";
}
.icon-battery-full:before {
  content: "\e7cb";
}
.icon-battery-charging:before {
  content: "\e7cc";
}
.icon-battery-charging2:before {
  content: "\e7cd";
}
.icon-battery-charging3:before {
  content: "\e7ce";
}
.icon-battery-charging4:before {
  content: "\e7cf";
}
.icon-battery-charging5:before {
  content: "\e7d0";
}
.icon-battery-charging6:before {
  content: "\e7d1";
}
.icon-battery-charging7:before {
  content: "\e7d2";
}
.icon-chip:before {
  content: "\e7d3";
}
.icon-chip-x64:before {
  content: "\e7d4";
}
.icon-chip-x86:before {
  content: "\e7d5";
}
.icon-bubble:before {
  content: "\e7d6";
}
.icon-bubbles:before {
  content: "\e7d7";
}
.icon-bubble-dots:before {
  content: "\e7d8";
}
.icon-bubble-alert:before {
  content: "\e7d9";
}
.icon-bubble-question:before {
  content: "\e7da";
}
.icon-bubble-text:before {
  content: "\e7db";
}
.icon-bubble-pencil:before {
  content: "\e7dc";
}
.icon-bubble-picture:before {
  content: "\e7dd";
}
.icon-bubble-video:before {
  content: "\e7de";
}
.icon-bubble-user:before {
  content: "\e7df";
}
.icon-bubble-quote:before {
  content: "\e7e0";
}
.icon-bubble-heart:before {
  content: "\e7e1";
}
.icon-bubble-emoticon:before {
  content: "\e7e2";
}
.icon-bubble-attachment:before {
  content: "\e7e3";
}
.icon-phone-bubble:before {
  content: "\e7e4";
}
.icon-quote-open:before {
  content: "\e7e5";
}
.icon-quote-close:before {
  content: "\e7e6";
}
.icon-dna:before {
  content: "\e7e7";
}
.icon-heart-pulse:before {
  content: "\e7e8";
}
.icon-pulse:before {
  content: "\e7e9";
}
.icon-syringe:before {
  content: "\e7ea";
}
.icon-pills:before {
  content: "\e7eb";
}
.icon-first-aid:before {
  content: "\e7ec";
}
.icon-lifebuoy:before {
  content: "\e7ed";
}
.icon-bandage:before {
  content: "\e7ee";
}
.icon-bandages:before {
  content: "\e7ef";
}
.icon-thermometer:before {
  content: "\e7f0";
}
.icon-microscope:before {
  content: "\e7f1";
}
.icon-brain:before {
  content: "\e7f2";
}
.icon-beaker:before {
  content: "\e7f3";
}
.icon-skull:before {
  content: "\e7f4";
}
.icon-bone:before {
  content: "\e7f5";
}
.icon-construction:before {
  content: "\e7f6";
}
.icon-construction-cone:before {
  content: "\e7f7";
}
.icon-pie-chart:before {
  content: "\e7f8";
}
.icon-pie-chart2:before {
  content: "\e7f9";
}
.icon-graph:before {
  content: "\e7fa";
}
.icon-chart-growth:before {
  content: "\e7fb";
}
.icon-chart-bars:before {
  content: "\e7fc";
}
.icon-chart-settings:before {
  content: "\e7fd";
}
.icon-cake:before {
  content: "\e7fe";
}
.icon-gift:before {
  content: "\e7ff";
}
.icon-balloon:before {
  content: "\e800";
}
.icon-rank:before {
  content: "\e801";
}
.icon-rank2:before {
  content: "\e802";
}
.icon-rank3:before {
  content: "\e803";
}
.icon-crown:before {
  content: "\e804";
}
.icon-lotus:before {
  content: "\e805";
}
.icon-diamond:before {
  content: "\e806";
}
.icon-diamond2:before {
  content: "\e807";
}
.icon-diamond3:before {
  content: "\e808";
}
.icon-diamond4:before {
  content: "\e809";
}
.icon-linearicons:before {
  content: "\e80a";
}
.icon-teacup:before {
  content: "\e80b";
}
.icon-teapot:before {
  content: "\e80c";
}
.icon-glass:before {
  content: "\e80d";
}
.icon-bottle2:before {
  content: "\e80e";
}
.icon-glass-cocktail:before {
  content: "\e80f";
}
.icon-glass2:before {
  content: "\e810";
}
.icon-dinner:before {
  content: "\e811";
}
.icon-dinner2:before {
  content: "\e812";
}
.icon-chef:before {
  content: "\e813";
}
.icon-scale2:before {
  content: "\e814";
}
.icon-egg:before {
  content: "\e815";
}
.icon-egg2:before {
  content: "\e816";
}
.icon-eggs:before {
  content: "\e817";
}
.icon-platter:before {
  content: "\e818";
}
.icon-steak:before {
  content: "\e819";
}
.icon-hamburger:before {
  content: "\e81a";
}
.icon-hotdog:before {
  content: "\e81b";
}
.icon-pizza:before {
  content: "\e81c";
}
.icon-sausage:before {
  content: "\e81d";
}
.icon-chicken:before {
  content: "\e81e";
}
.icon-fish:before {
  content: "\e81f";
}
.icon-carrot:before {
  content: "\e820";
}
.icon-cheese:before {
  content: "\e821";
}
.icon-bread:before {
  content: "\e822";
}
.icon-ice-cream:before {
  content: "\e823";
}
.icon-ice-cream2:before {
  content: "\e824";
}
.icon-candy:before {
  content: "\e825";
}
.icon-lollipop:before {
  content: "\e826";
}
.icon-coffee-bean:before {
  content: "\e827";
}
.icon-coffee-cup:before {
  content: "\e828";
}
.icon-cherry:before {
  content: "\e829";
}
.icon-grapes:before {
  content: "\e82a";
}
.icon-citrus:before {
  content: "\e82b";
}
.icon-apple:before {
  content: "\e82c";
}
.icon-leaf:before {
  content: "\e82d";
}
.icon-landscape:before {
  content: "\e82e";
}
.icon-pine-tree:before {
  content: "\e82f";
}
.icon-tree:before {
  content: "\e830";
}
.icon-cactus:before {
  content: "\e831";
}
.icon-paw:before {
  content: "\e832";
}
.icon-footprint:before {
  content: "\e833";
}
.icon-speed-slow:before {
  content: "\e834";
}
.icon-speed-medium:before {
  content: "\e835";
}
.icon-speed-fast:before {
  content: "\e836";
}
.icon-rocket:before {
  content: "\e837";
}
.icon-hammer2:before {
  content: "\e838";
}
.icon-balance:before {
  content: "\e839";
}
.icon-briefcase:before {
  content: "\e83a";
}
.icon-luggage-weight:before {
  content: "\e83b";
}
.icon-dolly:before {
  content: "\e83c";
}
.icon-plane:before {
  content: "\e83d";
}
.icon-plane-crossed:before {
  content: "\e83e";
}
.icon-helicopter:before {
  content: "\e83f";
}
.icon-traffic-lights:before {
  content: "\e840";
}
.icon-siren:before {
  content: "\e841";
}
.icon-road:before {
  content: "\e842";
}
.icon-engine:before {
  content: "\e843";
}
.icon-oil-pressure:before {
  content: "\e844";
}
.icon-coolant-temperature:before {
  content: "\e845";
}
.icon-car-battery:before {
  content: "\e846";
}
.icon-gas:before {
  content: "\e847";
}
.icon-gallon:before {
  content: "\e848";
}
.icon-transmission:before {
  content: "\e849";
}
.icon-car:before {
  content: "\e84a";
}
.icon-car-wash:before {
  content: "\e84b";
}
.icon-car-wash2:before {
  content: "\e84c";
}
.icon-bus:before {
  content: "\e84d";
}
.icon-bus2:before {
  content: "\e84e";
}
.icon-car2:before {
  content: "\e84f";
}
.icon-parking:before {
  content: "\e850";
}
.icon-car-lock:before {
  content: "\e851";
}
.icon-taxi:before {
  content: "\e852";
}
.icon-car-siren:before {
  content: "\e853";
}
.icon-car-wash3:before {
  content: "\e854";
}
.icon-car-wash4:before {
  content: "\e855";
}
.icon-ambulance:before {
  content: "\e856";
}
.icon-truck:before {
  content: "\e857";
}
.icon-trailer:before {
  content: "\e858";
}
.icon-scale-truck:before {
  content: "\e859";
}
.icon-train:before {
  content: "\e85a";
}
.icon-ship:before {
  content: "\e85b";
}
.icon-ship2:before {
  content: "\e85c";
}
.icon-anchor:before {
  content: "\e85d";
}
.icon-boat:before {
  content: "\e85e";
}
.icon-bicycle:before {
  content: "\e85f";
}
.icon-bicycle2:before {
  content: "\e860";
}
.icon-dumbbell:before {
  content: "\e861";
}
.icon-bench-press:before {
  content: "\e862";
}
.icon-swim:before {
  content: "\e863";
}
.icon-football:before {
  content: "\e864";
}
.icon-baseball-bat:before {
  content: "\e865";
}
.icon-baseball:before {
  content: "\e866";
}
.icon-tennis:before {
  content: "\e867";
}
.icon-tennis2:before {
  content: "\e868";
}
.icon-ping-pong:before {
  content: "\e869";
}
.icon-hockey:before {
  content: "\e86a";
}
.icon-8ball:before {
  content: "\e86b";
}
.icon-bowling:before {
  content: "\e86c";
}
.icon-bowling-pins:before {
  content: "\e86d";
}
.icon-golf:before {
  content: "\e86e";
}
.icon-golf2:before {
  content: "\e86f";
}
.icon-archery:before {
  content: "\e870";
}
.icon-slingshot:before {
  content: "\e871";
}
.icon-soccer:before {
  content: "\e872";
}
.icon-basketball:before {
  content: "\e873";
}
.icon-cube:before {
  content: "\e874";
}
.icon-3d-rotate:before {
  content: "\e875";
}
.icon-puzzle:before {
  content: "\e876";
}
.icon-glasses:before {
  content: "\e877";
}
.icon-glasses2:before {
  content: "\e878";
}
.icon-accessibility:before {
  content: "\e879";
}
.icon-wheelchair:before {
  content: "\e87a";
}
.icon-wall:before {
  content: "\e87b";
}
.icon-fence:before {
  content: "\e87c";
}
.icon-wall2:before {
  content: "\e87d";
}
.icon-icons:before {
  content: "\e87e";
}
.icon-resize-handle:before {
  content: "\e87f";
}
.icon-icons2:before {
  content: "\e880";
}
.icon-select:before {
  content: "\e881";
}
.icon-select2:before {
  content: "\e882";
}
.icon-site-map:before {
  content: "\e883";
}
.icon-earth:before {
  content: "\e884";
}
.icon-earth-lock:before {
  content: "\e885";
}
.icon-network:before {
  content: "\e886";
}
.icon-network-lock:before {
  content: "\e887";
}
.icon-planet:before {
  content: "\e888";
}
.icon-happy:before {
  content: "\e889";
}
.icon-smile:before {
  content: "\e88a";
}
.icon-grin:before {
  content: "\e88b";
}
.icon-tongue:before {
  content: "\e88c";
}
.icon-sad:before {
  content: "\e88d";
}
.icon-wink:before {
  content: "\e88e";
}
.icon-dream:before {
  content: "\e88f";
}
.icon-shocked:before {
  content: "\e890";
}
.icon-shocked2:before {
  content: "\e891";
}
.icon-tongue2:before {
  content: "\e892";
}
.icon-neutral:before {
  content: "\e893";
}
.icon-happy-grin:before {
  content: "\e894";
}
.icon-cool:before {
  content: "\e895";
}
.icon-mad:before {
  content: "\e896";
}
.icon-grin-evil:before {
  content: "\e897";
}
.icon-evil:before {
  content: "\e898";
}
.icon-wow:before {
  content: "\e899";
}
.icon-annoyed:before {
  content: "\e89a";
}
.icon-wondering:before {
  content: "\e89b";
}
.icon-confused:before {
  content: "\e89c";
}
.icon-zipped:before {
  content: "\e89d";
}
.icon-grumpy:before {
  content: "\e89e";
}
.icon-mustache:before {
  content: "\e89f";
}
.icon-tombstone-hipster:before {
  content: "\e8a0";
}
.icon-tombstone:before {
  content: "\e8a1";
}
.icon-ghost:before {
  content: "\e8a2";
}
.icon-ghost-hipster:before {
  content: "\e8a3";
}
.icon-halloween:before {
  content: "\e8a4";
}
.icon-christmas:before {
  content: "\e8a5";
}
.icon-easter-egg:before {
  content: "\e8a6";
}
.icon-mustache2:before {
  content: "\e8a7";
}
.icon-mustache-glasses:before {
  content: "\e8a8";
}
.icon-pipe:before {
  content: "\e8a9";
}
.icon-alarm:before {
  content: "\e8aa";
}
.icon-alarm-add:before {
  content: "\e8ab";
}
.icon-alarm-snooze:before {
  content: "\e8ac";
}
.icon-alarm-ringing:before {
  content: "\e8ad";
}
.icon-bullhorn:before {
  content: "\e8ae";
}
.icon-hearing:before {
  content: "\e8af";
}
.icon-volume-high:before {
  content: "\e8b0";
}
.icon-volume-medium:before {
  content: "\e8b1";
}
.icon-volume-low:before {
  content: "\e8b2";
}
.icon-volume:before {
  content: "\e8b3";
}
.icon-mute:before {
  content: "\e8b4";
}
.icon-lan:before {
  content: "\e8b5";
}
.icon-lan2:before {
  content: "\e8b6";
}
.icon-wifi:before {
  content: "\e8b7";
}
.icon-wifi-lock:before {
  content: "\e8b8";
}
.icon-wifi-blocked:before {
  content: "\e8b9";
}
.icon-wifi-mid:before {
  content: "\e8ba";
}
.icon-wifi-low:before {
  content: "\e8bb";
}
.icon-wifi-low2:before {
  content: "\e8bc";
}
.icon-wifi-alert:before {
  content: "\e8bd";
}
.icon-wifi-alert-mid:before {
  content: "\e8be";
}
.icon-wifi-alert-low:before {
  content: "\e8bf";
}
.icon-wifi-alert-low2:before {
  content: "\e8c0";
}
.icon-stream:before {
  content: "\e8c1";
}
.icon-stream-check:before {
  content: "\e8c2";
}
.icon-stream-error:before {
  content: "\e8c3";
}
.icon-stream-alert:before {
  content: "\e8c4";
}
.icon-communication:before {
  content: "\e8c5";
}
.icon-communication-crossed:before {
  content: "\e8c6";
}
.icon-broadcast:before {
  content: "\e8c7";
}
.icon-antenna:before {
  content: "\e8c8";
}
.icon-satellite:before {
  content: "\e8c9";
}
.icon-satellite2:before {
  content: "\e8ca";
}
.icon-mic:before {
  content: "\e8cb";
}
.icon-mic-mute:before {
  content: "\e8cc";
}
.icon-mic2:before {
  content: "\e8cd";
}
.icon-spotlights:before {
  content: "\e8ce";
}
.icon-hourglass:before {
  content: "\e8cf";
}
.icon-loading:before {
  content: "\e8d0";
}
.icon-loading2:before {
  content: "\e8d1";
}
.icon-loading3:before {
  content: "\e8d2";
}
.icon-refresh:before {
  content: "\e8d3";
}
.icon-refresh2:before {
  content: "\e8d4";
}
.icon-undo:before {
  content: "\e8d5";
}
.icon-redo:before {
  content: "\e8d6";
}
.icon-jump2:before {
  content: "\e8d7";
}
.icon-undo2:before {
  content: "\e8d8";
}
.icon-redo2:before {
  content: "\e8d9";
}
.icon-sync:before {
  content: "\e8da";
}
.icon-repeat-one2:before {
  content: "\e8db";
}
.icon-sync-crossed:before {
  content: "\e8dc";
}
.icon-sync2:before {
  content: "\e8dd";
}
.icon-repeat-one3:before {
  content: "\e8de";
}
.icon-sync-crossed2:before {
  content: "\e8df";
}
.icon-return:before {
  content: "\e8e0";
}
.icon-return2:before {
  content: "\e8e1";
}
.icon-refund:before {
  content: "\e8e2";
}
.icon-history:before {
  content: "\e8e3";
}
.icon-history2:before {
  content: "\e8e4";
}
.icon-self-timer:before {
  content: "\e8e5";
}
.icon-clock:before {
  content: "\e8e6";
}
.icon-clock2:before {
  content: "\e8e7";
}
.icon-clock3:before {
  content: "\e8e8";
}
.icon-watch:before {
  content: "\e8e9";
}
.icon-alarm2:before {
  content: "\e8ea";
}
.icon-alarm-add2:before {
  content: "\e8eb";
}
.icon-alarm-remove:before {
  content: "\e8ec";
}
.icon-alarm-check:before {
  content: "\e8ed";
}
.icon-alarm-error:before {
  content: "\e8ee";
}
.icon-timer:before {
  content: "\e8ef";
}
.icon-timer-crossed:before {
  content: "\e8f0";
}
.icon-timer2:before {
  content: "\e8f1";
}
.icon-timer-crossed2:before {
  content: "\e8f2";
}
.icon-download:before {
  content: "\e8f3";
}
.icon-upload:before {
  content: "\e8f4";
}
.icon-download2:before {
  content: "\e8f5";
}
.icon-upload2:before {
  content: "\e8f6";
}
.icon-enter-up:before {
  content: "\e8f7";
}
.icon-enter-down:before {
  content: "\e8f8";
}
.icon-enter-left:before {
  content: "\e8f9";
}
.icon-enter-right:before {
  content: "\e8fa";
}
.icon-exit-up:before {
  content: "\e8fb";
}
.icon-exit-down:before {
  content: "\e8fc";
}
.icon-exit-left:before {
  content: "\e8fd";
}
.icon-exit-right:before {
  content: "\e8fe";
}
.icon-enter-up2:before {
  content: "\e8ff";
}
.icon-enter-down2:before {
  content: "\e900";
}
.icon-enter-vertical:before {
  content: "\e901";
}
.icon-enter-left2:before {
  content: "\e902";
}
.icon-enter-right2:before {
  content: "\e903";
}
.icon-enter-horizontal:before {
  content: "\e904";
}
.icon-exit-up2:before {
  content: "\e905";
}
.icon-exit-down2:before {
  content: "\e906";
}
.icon-exit-left2:before {
  content: "\e907";
}
.icon-exit-right2:before {
  content: "\e908";
}
.icon-cli:before {
  content: "\e909";
}
.icon-bug:before {
  content: "\e90a";
}
.icon-code:before {
  content: "\e90b";
}
.icon-file-code:before {
  content: "\e90c";
}
.icon-file-image:before {
  content: "\e90d";
}
.icon-file-zip:before {
  content: "\e90e";
}
.icon-file-audio:before {
  content: "\e90f";
}
.icon-file-video:before {
  content: "\e910";
}
.icon-file-preview:before {
  content: "\e911";
}
.icon-file-charts:before {
  content: "\e912";
}
.icon-file-stats:before {
  content: "\e913";
}
.icon-file-spreadsheet:before {
  content: "\e914";
}
.icon-link:before {
  content: "\e915";
}
.icon-unlink:before {
  content: "\e916";
}
.icon-link2:before {
  content: "\e917";
}
.icon-unlink2:before {
  content: "\e918";
}
.icon-thumbs-up:before {
  content: "\e919";
}
.icon-thumbs-down:before {
  content: "\e91a";
}
.icon-thumbs-up2:before {
  content: "\e91b";
}
.icon-thumbs-down2:before {
  content: "\e91c";
}
.icon-thumbs-up3:before {
  content: "\e91d";
}
.icon-thumbs-down3:before {
  content: "\e91e";
}
.icon-share:before {
  content: "\e91f";
}
.icon-share2:before {
  content: "\e920";
}
.icon-share3:before {
  content: "\e921";
}
.icon-magnifier:before {
  content: "\e922";
}
.icon-file-search:before {
  content: "\e923";
}
.icon-find-replace:before {
  content: "\e924";
}
.icon-zoom-in:before {
  content: "\e925";
}
.icon-zoom-out:before {
  content: "\e926";
}
.icon-loupe:before {
  content: "\e927";
}
.icon-loupe-zoom-in:before {
  content: "\e928";
}
.icon-loupe-zoom-out:before {
  content: "\e929";
}
.icon-cross:before {
  content: "\e92a";
}
.icon-menu:before {
  content: "\e92b";
}
.icon-list:before {
  content: "\e92c";
}
.icon-list2:before {
  content: "\e92d";
}
.icon-list3:before {
  content: "\e92e";
}
.icon-menu2:before {
  content: "\e92f";
}
.icon-list4:before {
  content: "\e930";
}
.icon-menu3:before {
  content: "\e931";
}
.icon-exclamation:before {
  content: "\e932";
}
.icon-question:before {
  content: "\e933";
}
.icon-check:before {
  content: "\e934";
}
.icon-cross2:before {
  content: "\e935";
}
.icon-plus:before {
  content: "\e936";
}
.icon-minus:before {
  content: "\e937";
}
.icon-percent:before {
  content: "\e938";
}
.icon-chevron-up:before {
  content: "\e939";
}
.icon-chevron-down:before {
  content: "\e93a";
}
.icon-chevron-left:before {
  content: "\e93b";
}
.icon-chevron-right:before {
  content: "\e93c";
}
.icon-chevrons-expand-vertical:before {
  content: "\e93d";
}
.icon-chevrons-expand-horizontal:before {
  content: "\e93e";
}
.icon-chevrons-contract-vertical:before {
  content: "\e93f";
}
.icon-chevrons-contract-horizontal:before {
  content: "\e940";
}
.icon-arrow-up:before {
  content: "\e941";
}
.icon-arrow-down:before {
  content: "\e942";
}
.icon-arrow-left:before {
  content: "\e943";
}
.icon-arrow-right:before {
  content: "\e944";
}
.icon-arrow-up-right:before {
  content: "\e945";
}
.icon-arrows-merge:before {
  content: "\e946";
}
.icon-arrows-split:before {
  content: "\e947";
}
.icon-arrow-divert:before {
  content: "\e948";
}
.icon-arrow-return:before {
  content: "\e949";
}
.icon-expand:before {
  content: "\e94a";
}
.icon-contract:before {
  content: "\e94b";
}
.icon-expand2:before {
  content: "\e94c";
}
.icon-contract2:before {
  content: "\e94d";
}
.icon-move:before {
  content: "\e94e";
}
.icon-tab:before {
  content: "\e94f";
}
.icon-arrow-wave:before {
  content: "\e950";
}
.icon-expand3:before {
  content: "\e951";
}
.icon-expand4:before {
  content: "\e952";
}
.icon-contract3:before {
  content: "\e953";
}
.icon-notification:before {
  content: "\e954";
}
.icon-warning:before {
  content: "\e955";
}
.icon-notification-circle:before {
  content: "\e956";
}
.icon-question-circle:before {
  content: "\e957";
}
.icon-menu-circle:before {
  content: "\e958";
}
.icon-checkmark-circle:before {
  content: "\e959";
}
.icon-cross-circle:before {
  content: "\e95a";
}
.icon-plus-circle:before {
  content: "\e95b";
}
.icon-circle-minus:before {
  content: "\e95c";
}
.icon-percent-circle:before {
  content: "\e95d";
}
.icon-arrow-up-circle:before {
  content: "\e95e";
}
.icon-arrow-down-circle:before {
  content: "\e95f";
}
.icon-arrow-left-circle:before {
  content: "\e960";
}
.icon-arrow-right-circle:before {
  content: "\e961";
}
.icon-chevron-up-circle:before {
  content: "\e962";
}
.icon-chevron-down-circle:before {
  content: "\e963";
}
.icon-chevron-left-circle:before {
  content: "\e964";
}
.icon-chevron-right-circle:before {
  content: "\e965";
}
.icon-backward-circle:before {
  content: "\e966";
}
.icon-first-circle:before {
  content: "\e967";
}
.icon-previous-circle:before {
  content: "\e968";
}
.icon-stop-circle:before {
  content: "\e969";
}
.icon-play-circle:before {
  content: "\e96a";
}
.icon-pause-circle:before {
  content: "\e96b";
}
.icon-next-circle:before {
  content: "\e96c";
}
.icon-last-circle:before {
  content: "\e96d";
}
.icon-forward-circle:before {
  content: "\e96e";
}
.icon-eject-circle:before {
  content: "\e96f";
}
.icon-crop:before {
  content: "\e970";
}
.icon-frame-expand:before {
  content: "\e971";
}
.icon-frame-contract:before {
  content: "\e972";
}
.icon-focus:before {
  content: "\e973";
}
.icon-transform:before {
  content: "\e974";
}
.icon-grid:before {
  content: "\e975";
}
.icon-grid-crossed:before {
  content: "\e976";
}
.icon-layers:before {
  content: "\e977";
}
.icon-layers-crossed:before {
  content: "\e978";
}
.icon-toggle:before {
  content: "\e979";
}
.icon-rulers:before {
  content: "\e97a";
}
.icon-ruler:before {
  content: "\e97b";
}
.icon-funnel:before {
  content: "\e97c";
}
.icon-flip-horizontal:before {
  content: "\e97d";
}
.icon-flip-vertical:before {
  content: "\e97e";
}
.icon-flip-horizontal2:before {
  content: "\e97f";
}
.icon-flip-vertical2:before {
  content: "\e980";
}
.icon-angle:before {
  content: "\e981";
}
.icon-angle2:before {
  content: "\e982";
}
.icon-subtract:before {
  content: "\e983";
}
.icon-combine:before {
  content: "\e984";
}
.icon-intersect:before {
  content: "\e985";
}
.icon-exclude:before {
  content: "\e986";
}
.icon-align-center-vertical:before {
  content: "\e987";
}
.icon-align-right:before {
  content: "\e988";
}
.icon-align-bottom:before {
  content: "\e989";
}
.icon-align-left:before {
  content: "\e98a";
}
.icon-align-center-horizontal:before {
  content: "\e98b";
}
.icon-align-top:before {
  content: "\e98c";
}
.icon-square:before {
  content: "\e98d";
}
.icon-plus-square:before {
  content: "\e98e";
}
.icon-minus-square:before {
  content: "\e98f";
}
.icon-percent-square:before {
  content: "\e990";
}
.icon-arrow-up-square:before {
  content: "\e991";
}
.icon-arrow-down-square:before {
  content: "\e992";
}
.icon-arrow-left-square:before {
  content: "\e993";
}
.icon-arrow-right-square:before {
  content: "\e994";
}
.icon-chevron-up-square:before {
  content: "\e995";
}
.icon-chevron-down-square:before {
  content: "\e996";
}
.icon-chevron-left-square:before {
  content: "\e997";
}
.icon-chevron-right-square:before {
  content: "\e998";
}
.icon-check-square:before {
  content: "\e999";
}
.icon-cross-square:before {
  content: "\e99a";
}
.icon-menu-square:before {
  content: "\e99b";
}
.icon-prohibited:before {
  content: "\e99c";
}
.icon-circle:before {
  content: "\e99d";
}
.icon-radio-button:before {
  content: "\e99e";
}
.icon-ligature:before {
  content: "\e99f";
}
.icon-text-format:before {
  content: "\e9a0";
}
.icon-text-format-remove:before {
  content: "\e9a1";
}
.icon-text-size:before {
  content: "\e9a2";
}
.icon-bold:before {
  content: "\e9a3";
}
.icon-italic:before {
  content: "\e9a4";
}
.icon-underline:before {
  content: "\e9a5";
}
.icon-strikethrough:before {
  content: "\e9a6";
}
.icon-highlight:before {
  content: "\e9a7";
}
.icon-text-align-left:before {
  content: "\e9a8";
}
.icon-text-align-center:before {
  content: "\e9a9";
}
.icon-text-align-right:before {
  content: "\e9aa";
}
.icon-text-align-justify:before {
  content: "\e9ab";
}
.icon-line-spacing:before {
  content: "\e9ac";
}
.icon-indent-increase:before {
  content: "\e9ad";
}
.icon-indent-decrease:before {
  content: "\e9ae";
}
.icon-text-wrap:before {
  content: "\e9af";
}
.icon-pilcrow:before {
  content: "\e9b0";
}
.icon-direction-ltr:before {
  content: "\e9b1";
}
.icon-direction-rtl:before {
  content: "\e9b2";
}
.icon-page-break:before {
  content: "\e9b3";
}
.icon-page-break2:before {
  content: "\e9b4";
}
.icon-sort-alpha-asc:before {
  content: "\e9b5";
}
.icon-sort-alpha-desc:before {
  content: "\e9b6";
}
.icon-sort-numeric-asc:before {
  content: "\e9b7";
}
.icon-sort-numeric-desc:before {
  content: "\e9b8";
}
.icon-sort-amount-asc:before {
  content: "\e9b9";
}
.icon-sort-amount-desc:before {
  content: "\e9ba";
}
.icon-sort-time-asc:before {
  content: "\e9bb";
}
.icon-sort-time-desc:before {
  content: "\e9bc";
}
.icon-sigma:before {
  content: "\e9bd";
}
.icon-pencil-line:before {
  content: "\e9be";
}
.icon-hand:before {
  content: "\e9bf";
}
.icon-pointer-up:before {
  content: "\e9c0";
}
.icon-pointer-right:before {
  content: "\e9c1";
}
.icon-pointer-down:before {
  content: "\e9c2";
}
.icon-pointer-left:before {
  content: "\e9c3";
}
.icon-finger-tap:before {
  content: "\e9c4";
}
.icon-fingers-tap:before {
  content: "\e9c5";
}
.icon-reminder:before {
  content: "\e9c6";
}
.icon-fingers-crossed:before {
  content: "\e9c7";
}
.icon-fingers-victory:before {
  content: "\e9c8";
}
.icon-gesture-zoom:before {
  content: "\e9c9";
}
.icon-gesture-pinch:before {
  content: "\e9ca";
}
.icon-fingers-scroll-horizontal:before {
  content: "\e9cb";
}
.icon-fingers-scroll-vertical:before {
  content: "\e9cc";
}
.icon-fingers-scroll-left:before {
  content: "\e9cd";
}
.icon-fingers-scroll-right:before {
  content: "\e9ce";
}
.icon-hand2:before {
  content: "\e9cf";
}
.icon-pointer-up2:before {
  content: "\e9d0";
}
.icon-pointer-right2:before {
  content: "\e9d1";
}
.icon-pointer-down2:before {
  content: "\e9d2";
}
.icon-pointer-left2:before {
  content: "\e9d3";
}
.icon-finger-tap2:before {
  content: "\e9d4";
}
.icon-fingers-tap2:before {
  content: "\e9d5";
}
.icon-reminder2:before {
  content: "\e9d6";
}
.icon-gesture-zoom2:before {
  content: "\e9d7";
}
.icon-gesture-pinch2:before {
  content: "\e9d8";
}
.icon-fingers-scroll-horizontal2:before {
  content: "\e9d9";
}
.icon-fingers-scroll-vertical2:before {
  content: "\e9da";
}
.icon-fingers-scroll-left2:before {
  content: "\e9db";
}
.icon-fingers-scroll-right2:before {
  content: "\e9dc";
}
.icon-fingers-scroll-vertical3:before {
  content: "\e9dd";
}
.icon-border-style:before {
  content: "\e9de";
}
.icon-border-all:before {
  content: "\e9df";
}
.icon-border-outer:before {
  content: "\e9e0";
}
.icon-border-inner:before {
  content: "\e9e1";
}
.icon-border-top:before {
  content: "\e9e2";
}
.icon-border-horizontal:before {
  content: "\e9e3";
}
.icon-border-bottom:before {
  content: "\e9e4";
}
.icon-border-left:before {
  content: "\e9e5";
}
.icon-border-vertical:before {
  content: "\e9e6";
}
.icon-border-right:before {
  content: "\e9e7";
}
.icon-border-none:before {
  content: "\e9e8";
}
.icon-ellipsis:before {
  content: "\e9e9";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-twitter:before {
  content: "\ea96";
}
